[submodule "thrid_party/libadm"]
	path = thrid_party/libadm
	url = https://github.com/IRT-Open-Source/libadm.git
[submodule "thrid_party/libbw64"]
	path = thrid_party/libbw64
	url = https://github.com/IRT-Open-Source/libbw64.git
